body{
    margin: 35px 7%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#800000
}

nav {
    text-align: center;
    width: 40%;
    margin-left: auto;
    background: #deb887;
    border-radius: 10px 10px 0 0;
}

nav ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0%;
}

nav a {
    margin: 0%;
    display: block;
    padding: 22px;
    color: #a52a2a;
    font-weight: bold;
    text-decoration: none;
    
}

section{
    margin: 0%;
    display: flex;
    gap: 20px;
    padding: 0 8px;
}

section div{
    margin: 0%;
    width: 33%;
    
}
section div h3{
    margin: 0;
    color: blue;
    background-color: #7fffd4;
    padding: 15px 10px;
}
section div img{
    margin: 0%;
    width: 100%;
    height: auto;
    display: flex;

}

section p{

    padding: 20px 10px;
    margin: 0%;
    background-color: #deb887;
}

div h3{
    margin: 0%;
    color: blue;
    background-color: #7fffd4;
}
div p{
    margin: 0%;
    background-color: #deb887;
}

footer{
    background-color: #7fffd4;
    padding: 10px;
}